.logoWeb {
    height: 150px;
    border-radius: 30%;
}

.top {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.logo {
    text-align: center;
}

.container {
    margin-left: 10%;
}

.menuLink {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

hr {
    width: 80%;
}

@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 20;
    src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
}

body {
    background-color: #222222;
}


/*neon effect*/

.headerP {
    text-align: center;
    font-size: 80px;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

p:nth-child(1) a {
    color: #FF1177;
    font-family: Monoton;
}

p:nth-child(1) a:hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

p a:hover {
    color: #ffffff;
}


/*glow for webkit-ket-frames*/

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}


/* MAIN */

.columnas {
    display: grid;
    grid-template-columns: 50% 50%;
}

.divsMovies {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 40%;
    margin-top: 2%;
}

.titleMovie{
    text-align: left;
    margin-top: 25%;
}

.bodyStyle{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.titulin{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* Tipos de películas */
.tipoPeliMiedo{
    border:2px solid yellow;
}

.tipoPeliAccion{
    border:2px solid orange;
}

.tipoPeliAventuras{
    border:2px solid greenyellow;
}

.tipoPeliFamiliar{
    border:2px solid burlywood;
}

.tipoPeliMusical{
    border:2px solid purple;
}

.cuadraditos{
    display: flex;
    justify-content:center;
    margin: 2% 0%;
    color: white;
    font-size: 20px;
}

.poligMiedo{
    padding: 0% 1%;
    margin-left: 1%;
    height:25px;
    background: yellow;
    border-radius: 20%;
    color: black;
}

.poligAccion{
    padding: 0% 1%;
    margin-left: 1%;
    height:25px;
    background: orange;
    border-radius: 20%;
    color: black;
}
.poligAventuras{
    padding: 0% 1%;
    margin-left: 1%;
    height:25px;
    background: greenyellow;
    border-radius: 20%;
    color: black;
}
.poligFamiliar{
    padding: 0% 1%;
    margin-left: 1%;
    height:25px;
    background: burlywood;
    border-radius: 20%;
    color: black;
}
.poligMusical{
    padding: 0% 1%;
    margin-left: 1%;
    height:25px;
    background: purple;
    border-radius: 20%;
    color: black;
}
/* Fin tipos de películas */

.btnDelete{
    text-decoration: none;
    font-size: 20px;
    color: red;
}

p {
    color: white;
}

.text {
    font-size:28px;
    font-family:helvetica;
    font-weight:bold;
    color:orange;
    text-transform:uppercase;
    text-shadow: 2px 2px black;
}

.parpadea {
    
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.column {
    float: left;
}

.left {
    width: 29%;
    text-align: right;
    padding-right: 1%;
}

.right {
    width: 70%;
}

.textoFormulario p {
    font-size: 20px;
}

.linkFormulario {
    margin: auto;
}

.linkFormulario a {
    color: #FF1177;
    font-size: 22px;
    /*margin-left: 40%;*/
}