<html xmlns:th="http://www.thymeleaf.org">

<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    <script>
        $(document).ready(function(){
            $(".btnDelete").click(function(){
                if (confirm("¿Desea eliminar este elemento?"))
                {
                    let ID = $(this).attr('extraInfo');
                    let URL = $(this).attr('url');
                    $.ajax({
                        type: 'DELETE',
                        url: URL,
                        contentType: 'application/json'
                    }).done(function( data, textStatus, jqXHR ) {
                        window.location = "/movies"
                    });
                }
            });
        });  
    </script>
</head>
<body>
    <form th:action="@{/movies/new}"><input type="submit" th:value="#{new}"></form> 
    <li th:each="movie : ${movies}"
        th:object="${movie}">
        <a th:href="@{|/movies/edit/*{id}|}">
            <span th:class="*{id} % 2 != 0? 'odd': _"
            th:text="*{title} "></span>
            <span th:text="*{year}"></span>
            <span th:text="*{description}"></span>
            <img src="../static/images/*{id}.jpg" width="150"
            th:src="@{images/*{id}.jpg}"/>
            <img th:src="@{images/*{id}.jpg}" />
            
        </a> 
       
        <input class="btnDelete" type="submit" th:value="Editar" 
                th:url="@{|/v2/movies/*{id}|}"
                th:extraInfo="*{id}" >
    </li>
</body>
</html>