<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PelisGatunas</title>
        <link th:href ="@{/css/Archivo.css}" rel="stylesheet"/>
    </head>

    <body>
        <header>
            <div class="top">
                <div class="logo">
                    <img class="logoWeb" th:src="@{|images/LogoCatMovies.jpg|}" alt="logo de la web">
                </div>
                <div class="container">
                    <p class="headerP"><a th:href="@{|/movies|}">
                        Meowies
                    </a></p>
                </div>
            </div>
            <hr>
        </header>

        <main>
            <div class="actionButtons">
                <a th:href="@{|/movies/detail/*{id}|}" class="buttonAction" style="color: rgb(255, 81, 0)" extraInfo="${id}">
                    Borrar película
                </a>
                <a th:href="@{|/movies|}" class="buttonAction" style="color: #FF1177" extraInfo="${id}">
                    Home
                </a>  
            </div>
<!--
            <form th:action="@{/movies/new}">
                <input type="submit" th:value="#{new}">
            </form>  
            <div class="imgMovie">
                <img width="150" th:src="@{|images/*{id}.jpg|}"/>

                <a th:href="@{|/movies/detail/*{id}|}">
                    <img  width="150" th:src="@{|images/*{id}.jpg|}"/>
                </a>
                
            </div>
            <div class="titleMovie">
                <span class="parpadea text" th:if="${movie.year == 2021}"><strong>¡NOVEDAD!</strong><br></span>
                <span class="bodyStyle titulin" th:text="*{title} "></span>
                
                <br>
                <span class="bodyStyle" th:text="*{year}"></span>  
                <h2 th:if="${movie.year == 2021}" >¡NOVEDAD!</h2>
                <br>
                <p th:text="*{description}"></p>
            </div> 
            <input class="home" type="submit" th:value="Home" 
                    th:url="@{|/movies/|}">
            <hr>
        -->
        </main>
    <!--
        <footer>
            <div class="row">
                <div class="column left">
                    <img class="logoWeb" src="../static/images/FooterCat.jpg"
                    th:src="@{|images/FooterCat.jpg|}"  alt="footer de la web">
                </div>
                <div class="column right">
                    <div class="textoFormulario">
                        <p>Gracias por visitar Meowies, contacte con nosotros usando el formulario del siguiente enlace si necesita ayuda</p>
                    </div>
                    <div class="linkFormulario">
                        <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
                        Formulario
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        -->
    </body>
</html>